<section class="container centered">
  <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
    {{ with .Site.Params.avatarurl }}
    <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
    {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
    <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}
    {{ with .Site.Params.wgavatar }}
    <div>
      <br>
      <br>
      <a href="https://www.westgrid.ca/">
	<img src="{{ . | relURL }}" alt="wgavatar">
      </a>
    </div>
    {{ end }}
    <h1 style="font-size: 5.0rem; color: #58585a">{{ .Site.Params.info }}</h1>
    <br>
    <br>
    <div id="frontdates">
      <div class="left"><a href="/bash">Bash</a></div>
      <div class="right">Monday November 2, 2020</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/git">Git</a></div>
      <div class="right">Tuesday November 3, 2020</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/hpc">HPC</a></div>
      <div class="right">Tuesday November 9, 2020</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/python">Python</a></div>
      <div class="right">Tuesday November 10, 2020</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/ml">ML</a></div>
      <div class="right">Tuesday November 16, 2020</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/chapel">Chapel</a></div>
      <div class="right">Tuesday November 17, 2020</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/julia">Julia</a></div>
      <div class="right">Tuesday November 23, 2020</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/scivis">SciVis</a></div>
      <div class="right">Tuesday November 24, 2020</div>
    </div>
  </div>
</section>
