<section class="container centered">
  <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
    {{ with .Site.Params.avatarurl }}
    <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
    {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
    <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}
    {{ with .Site.Params.wgavatar }}
    <div>
      <br>
      <br>
      <a href="https://www.westgrid.ca/">
	<img src="{{ . | relURL }}" alt="wgavatar">
      </a>
    </div>
    {{ end }}
    <h1>{{ .Site.Params.info }}</h1>
    <br>
    <br>
    <div id="frontdates">
      <div class="left"><a href="/bash-menu">Bash command line</a></div>
      <div class="right">Monday, Nov-2</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/git">Version control with Git</a></div>
      <div class="right">Tuesday, Nov-3</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/hpc-menu">HPC</a></div>
      <div class="right">Monday, Nov-9</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/python-menu">Basics of Python</a></div>
      <div class="right">Tuesday, Nov-10</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/ml">Deep learning with PyTorch</a></div>
      <div class="right">Monday, Nov-16</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/chapel-menu">Parallel programming in Chapel</a></div>
      <div class="right">Tuesday, Nov-17</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/jl">Scientific programming in Julia</a></div>
      <div class="right">Monday, Nov-23</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/vis-menu">3D scientific visualization</a></div>
      <div class="right">Tuesday, Nov-24</div>
    </div>
    <br>
    <div id="frontdates">
      Register <a href="https://www.eventbrite.ca/e/westgrid-research-computing-autumn-school-2020-online-tickets-123963489133">here</a>
    </div>
  </div>
</section>
